.nav-button {
    display: flexbox;
    /* Set button height & width */
    padding: 0.25em 1em;

    /* Set gap between buttons */
    margin: .5em;
    /* round the edges */
    border-radius: 8px;

    background-color: rgb(101, 0, 160);
    font-size: 30px;
    text-decoration: none;
}

.nav-button:hover {
    background-color: rgb(64, 0, 101);
}